img {
    width: 100px;
    
}
/*
table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: coral;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}

th {
    background-color: darkgreen;
    color: white;
}

======================================


*/
table{
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: coral;
}
tr:nth-child(even) {
    background-color: antiquewhite;
}

th {
    background-color: darkgreen;
    color: white
}