p, input{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo, div{
    text-align: center;
}

fieldset{
    width: 50%;
    margin: auto;
}
input{

}

input:focus{
    background-color: beige;
}

input[type=submit]{
    width:10%;
    color: white;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    border:  1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: dimgray;
}
input[type=submit]:hover{
    background-color: darkgray;
    color: black;
    cursor:  pointer;
}