h1 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-shadow: 5px 5px 5px black;
}

ul {
    /* list-style-type: disc; Trocar simbologia*/ 
    list-style-image: url('../img/seta.jpg');
    width: 200px; /* largura */
    height: 200px; /* altura */
    border-color: chartreuse;
    border-width: 5px;
    border-style: solid;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    cursor:cell;
}

ol li a{
    color: brown;
    font-size: 15px;
}

ul li.fla {
    background-color: red;
}

ul li.sant {
    background-color:blueviolet;
}

ul li.palm {
    background-color:chocolate;
}

ul li.sao {
    background-color:darkgreen;
}

div{
    width: 20px;
    height: 200px;
    background-color: coral;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    padding: 50px;
    margin-left: 200px;
}

.home {
    width: 200px;
    height: 20px;
    background-color:antiquewhite;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    padding: 50px;
    margin: 10px;
}